* {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  //font-family: $font-primary;
  color: $dusty-gray;
}

figure {
  margin: 0;
}

// Lists.
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Paragraphs.
p {
  margin: {
    top: 0;
    bottom: 0;
  }
}

// Default typography properties.
h1, h2, h3, h4, h5, h6 {
  margin: {
    top: 0;
    bottom: 0;
  }
}

label {
  margin: 0;
}