.logo {
  display: flex;
  flex-flow: row wrap;

  img {
    width: 20px;
    height: 16px;
    display: block;
    object-fit: contain;
  }

  span {
    color: $dove-gray;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 15px;
  }
}
