.btn-modal-default {
  border-radius: 0;
  padding: 8px 12px;
  font-weight: 600;
  width: 110px;
  height: 42px;
}

.btn-modal-cancel {
  background-color: $mercury;
  border-bottom: 2px solid $silver-chalice;
  color: $dove-gray;
}

.btn-modal-save {
  background-color: $easterblue;
  border-bottom: 2px solid $genoa;
  color: $white;
}

.button-transparent {
  border: none;
  appearance: none;
  background-color: transparent;
  padding: {
    top: 7px;
    right: 0;
    bottom: 7px;
    left: 0;
  }

  .button-title {
    color: $mine-shaft;
    font-size: 14px;
  }
}

.button-icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  margin: {
    right: auto;
    left: auto;
  }
}

.button-new {

  .button-icon {
    width: 21px;
    height: 21px;
    background-size: 21px 21px;
    background-image: url("../icons/plus.svg");
  }
}

.button-types {
  margin-left: 10px;

  .button-icon {
    width: 21px;
    height: 17px;
    background-size: 21px 17px;
    background-image: url("../icons/listing-option.svg");
    margin-bottom: 2px;
  }
}

.editor_edit,
.editor_remove {
  display: inline-block;
  width: 20px;
  height: 16px;
  cursor: pointer;
  position: relative;
  top: 4px;
  text-indent: -9999px;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: {
    top: 2px;
    right: 4px;
    bottom: 2px;
    left: 4px;
  }
}

.editor_edit {
  background-image: url("../icons/pencil-edit-button.svg");
}

.editor_remove {
  background-image: url("../icons/cancel.svg");
}
