// Naming colors - http://chir.ag/projects/name-that-color/#959DE5.
$cornflower-blue: #74aaea;
$wild-sand: #f5f5f5;
$white: #ffffff;
$alto: #dddddd;
$dove-gray: #666666;
$dusty-gray: #9a9a9a;
$gray: #838383;
$easterblue: #1dada6;
$genoa: #147975;
$silver-chalice: #9f9f9f;
$mercury: #e2e2e2;
$nobel: #b6b6b6;
$carara: #ebeae5;
$silver: #cccccc;
$dove-gray: #656565;
$mine-shaft: #333333;
$cornflower-blue: #66b1eb;
