body {
  overflow-x: hidden;
}

.page-front {
  background-color: $wild-sand;
  padding: {
    top: 35px;
    right: 20px;
    left: 20px;
  }
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 1px dashed $alto;

  .buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
  }
}
