.modal {
  margin: auto;
  width: 781px;
}

.modal-title {
  text-align: center;
}

.required:after {
  content: " *";
}

.modal-dialog {
  width: 781px !important;
}

.modal-body {
  margin: 0 30px;

  label {
    font-weight: 400;
  }
}

.modal-footer {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;

  &:before,
  &:after {
    display: none;
  }
}

.modal-footer,
.modal-header,
.field-photo {
  background-color: $white;
}

.modal-content {
  color: $dove-gray;
  background-color: $wild-sand;
}

.field-photo {
  border: 1px dashed $nobel;
  display: flex;
  padding: 51px 0;
  justify-content: center;
  margin: 0 0 20px 0;

  label {
    color: $silver-chalice;
    position: relative;
    font: {
      size: 17px;
      weight: 500;
    }

    &:before {
      content: "";
      display: block;
      height: 29px;
      background: {
        image: url("../icons/plus-gray.svg");
        repeat: no-repeat;
        size: 29px;
      }
      margin: 12px auto;
      width: 29px;
    }
  }
}

.field-photo-title {
  margin: 20px 0 5px 0;
  display: block;
}

// Hide input type file.
input[type=file] {
  display: none;
}

.field {
  display: block;
  width: 100%;
  background-color: white;
}

.field-select {
  padding: 6px 10px;
  border-radius: 0;
  border: 1px solid $silver;
  box-shadow: none;
  transition: box-shadow .5s ease-in-out;

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px $cornflower-blue;
  }
}

.field-text {
  padding: 4px 10px;
  appearance: none;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid $silver;
  transition: box-shadow .5s ease-in-out;

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px $cornflower-blue;
  }
}

.tag-select-subtitle {
  font-size: 12px;
}

fieldset {
  margin: 0 0 15px 0;

  label {
    margin: 0;

    &:first-of-type {
      margin-right: 40px;
    }
  }
}

.field-tagname-wrapper {
  padding-top: 5px;

  label {
    display: block;
  }
}

.modal-header .close {
  width: 40px;
  height: 40px;
  margin: {
    top: -15px;
    right: -15px;
  }
}
