#root_paginate {

  .paginate_button {
    width: 27px;
    height: 27px;
    color: $dove-gray !important;
    font-size: 12px;
    line-height: 27px;
    border: none;
    border-radius: 0;
    background-color: $white;
    padding: 0;
    margin-left: 10px;

    &:hover {
      background-image: none;
      background-color: $alto;
    }

    &:focus {
      box-shadow: none;
    }

    &.current {
      background-image: none;
      background-color: $alto;
    }

    &.disabled span {
      opacity: .5;
    }
  }

  .data-pagination-ico {
    display: block;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .data-pagination-ico-prev {
    transform: rotate(180deg);
  }

  .data-pagination-ico-prev,
  .data-pagination-ico-next {
    background-size: 12px 11px;
    background-image: url("../icons/next.svg");
  }

  .data-pagination-ico-first {
    background-image: url("../icons/first.svg");
  }

  .data-pagination-ico-last {
    background-image: url("../icons/last.svg");
  }

  .data-pagination-ico-last,
  .data-pagination-ico-first {
    background-size: 22px 15px;
  }
}

.dataTables_paginate {
  padding-top: 0;
  margin: {
    top: 20px;
    bottom: 20px;
  }
}
