.data-tbody {
  tr td:nth-of-type(2) {
    color: $cornflower-blue;
    font: {
      size: 15px;
    }
  }
}

.checked {
  position: relative;
  background: {
    image: url("../icons/checked.svg");
    repeat: no-repeat;
    position: center;
    size: 14px;
  };
}

.styling-class {
  text-indent: -9999px;
}