.dataTables_wrapper {
  .dataTables_filter {
    text-align: left;
    width: 100%;

    input {
      height: 33px;
      margin: 0;
      width: 300px;
      padding: {
        right: 10px;
        left: 10px;
      }
    }

    label {
      display: table-caption;
    }
  }
}

#root_filter {
  padding: {
    top: 35px;
    bottom: 7px;
  }

  label {
    font-size: 14px;
    font-weight: 400;
  }

  input {
    border: 1px solid $silver;
    appearance: none;
    background-color: $white;
    margin-top: 3px;
    box-shadow: none;
    transition: box-shadow .5s ease-in-out;

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 2px $cornflower-blue;
    }
  }
}

th, td {
  white-space: nowrap;
}

div.dataTables_wrapper {
  margin: 0 auto;
}
